# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.so.*
*.dll
*.dylib

# python
*.pyo
*.pyc

# QtCreator
*.autosave

# CMake
CMakeLists.txt.user*
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# vscode
**/.vscode
**/.cache

# OSX
.DS_Store

# p4merge backup
*.orig

# build directory
/build